flask
flask-cors
Flask-AWSCognito

aws-xray-sdk
rollbar
blinker

watchtower

opentelemetry-api 
opentelemetry-sdk 
opentelemetry-exporter-otlp-proto-http 
opentelemetry-instrumentation-flask 
opentelemetry-instrumentation-requests